@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.ferrari {
    color: rgb(255, 0, 0);
    font-family: Ferro Rosso;
    text-decoration: underline;
}

* {
    font-family: Proxima Nova;
    box-sizing: border-box;
    color: #777;
}

footer {
    padding-top: 2px;
    background-color: #303030;
    width: 100%;

}

.red {
    color: rgb(255, 0, 0);
}

.whitefooter {
    color: rgb(255, 255, 255);
    font-family: Ferro Rosa;
}

.main-header {
    background-image:url("Images/Ferrari background.jfif");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    padding-bottom: 30px;

}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a { 
   display: inline-block;
   padding: .5em;
   color: white;
   text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.main-nav li {
    padding: 0 5%;
}